* {
  -webkit-tap-highlight-color: rgba(0, 0, 0, 0);
  outline: none;
}
*,
:after,
:before {
  -webkit-box-sizing: border-box;
  -moz-box-sizing: border-box;
  box-sizing: border-box;
}
html,
body {
  height: 100%;
  margin: 0;
}
body {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
  max-width: 100%;
  max-height: 100%;
  overflow: hidden;
  font-family: 'IM Fell English', serif;
  color: #333;
}
.flex {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
}
.row {
  -webkit-flex-direction: row;
  -moz-flex-direction: row;
  -ms-flex-direction: row;
  flex-direction: row;
}
.column {
  -webkit-flex-direction: column;
  -moz-flex-direction: column;
  -ms-flex-direction: column;
  flex-direction: column;
}
.center {
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
}
.end {
  -webkit-justify-content: flex-end;
  -moz-justify-content: flex-end;
  -ms-justify-content: flex-end;
  justify-content: flex-end;
}
.center-items {
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
}
ng-view {
  width: 100%;
  height: 100%;
  -webkit-transition: opacity 300ms ease-out;
  -o-transition: opacity 300ms ease-out;
  transition: opacity 300ms ease-out;
  will-change: opacity;
}
ng-view.ng-animate {
  position: absolute;
  top: 0;
  left: 0;
  right: 0;
  bottom: 0;
}
ng-view.ng-enter {
  opacity: 0;
}
ng-view.ng-enter.ng-enter-active {
  opacity: 1;
}
ng-view.ng-leave {
  opacity: 1;
}
ng-view.ng-leave.ng-leave-active {
  opacity: 0;
}
md-toolbar {
  background-color: #222;
}
md-backdrop.md-opaque {
  background-color: rgba(0, 0, 0, 0.75);
}
label {
  display: inline-block;
  min-height: 20px;
  cursor: pointer;
  max-width: 100%;
}
.color-selector {
  width: 32px;
  height: 32px;
  margin-right: 8px;
  cursor: pointer;
  border: 5px solid rgba(0, 0, 0, 0);
  -webkit-transition: border-color 0.1s ease-in-out;
  -o-transition: border-color 0.1s ease-in-out;
  transition: border-color 0.1s ease-in-out;
}
.color-selector.active {
  border-color: rgba(0, 0, 0, 0.7);
}
.home {
  background-color: #F3C393;
}
.home h1 {
  margin-top: 0;
}
.home form {
  margin-bottom: 30px;
}
.setup .gender-selection img {
  height: 125px;
  opacity: 0.3;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: ease-in-out opacity 0.1s;
  -o-transition: ease-in-out opacity 0.1s;
  transition: ease-in-out opacity 0.1s;
}
.setup .gender-selection img.active {
  opacity: 1;
}
.game {
  height: 100%;
  color: white;
}
.game .menu-lg-screen {
  display: none;
  position: absolute;
  z-index: 2;
  top: 8px;
}
.game .player {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
  min-height: 150px;
  padding: 15px 0 15px 15px;
  box-shadow: inset 0 0 3em rgba(0, 0, 0, 0.5);
}
.game .player > div {
  width: 33.33%;
}
.game .player .name {
  font-size: 25px;
}
.game .player .battle-level {
  width: 60px;
  height: 60px;
  font-size: 40px;
}
.game .player .level {
  width: 30px;
  height: 30px;
  font-size: 18px;
  bottom: -15px;
  right: -5px;
}
.player {
  height: 100%;
  padding: 50px;
  color: white;
}
.player .player-name {
  font-size: 50px;
  margin-bottom: 25px;
}
.player .player-level {
  margin: 25px 0;
}
.player > div {
  -webkit-flex-grow: 1;
  -moz-flex-grow: 1;
  -ms-flex-grow: 1;
  flex-grow: 1;
}
.player .battle-level {
  width: 100px;
  height: 100px;
  font-size: 60px;
}
.player .gender-selection {
  width: 100%;
  margin-top: 25px;
}
.player .gender-selection > div {
  width: 100%;
}
.player .gender-selection img {
  height: 125px;
  opacity: 0.3;
  border: none;
  outline: none;
  cursor: pointer;
  -webkit-transition: ease-in-out opacity 0.1s;
  -o-transition: ease-in-out opacity 0.1s;
  transition: ease-in-out opacity 0.1s;
}
.player .gender-selection img.active {
  opacity: 1;
}
.player .btn-level {
  background: none;
  border: 0;
  color: white;
  font-size: 40px;
  margin: 0 10px;
  padding: 0;
  font-family: 'IM Fell English', serif;
}
.player .btn-back {
  position: absolute;
  top: 6px;
  left: 0;
}
.player .btn-back md-icon {
  fill: white;
}
.player .level-control-container h1 {
  font-family: 'Lusitana', serif;
}
.player .level-control-container h2 {
  margin-bottom: 0;
}
.gender {
  background-size: contain;
  background-position: center;
  background-repeat: no-repeat;
}
.gender.male {
  background-image: url('../images/munchkinMale.png');
}
.gender.female {
  background-image: url('../images/munchkinFemale.png');
}
.battle-level {
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  background-color: rgba(0, 0, 0, 0.5);
  width: 160px;
  height: 160px;
  border: 3px solid white;
  border-radius: 50%;
  font-family: 'Lusitana', serif;
  font-size: 90px;
}
.level {
  position: absolute;
  display: -webkit-flex;
  display: -moz-flex;
  display: -ms-flexbox;
  display: -ms-flex;
  display: flex;
  -webkit-justify-content: center;
  -moz-justify-content: center;
  -ms-justify-content: center;
  justify-content: center;
  -webkit-align-items: center;
  -moz-align-items: center;
  -ms-align-items: center;
  align-items: center;
  width: 50px;
  height: 50px;
  border-radius: 50%;
  font-family: 'Lusitana', serif;
  font-size: 30px;
  font-weight: bold;
  right: 0;
  bottom: 0;
  background-color: white;
}
md-sidenav md-icon svg {
  fill: #333;
}
md-list .md-button {
  width: 100%;
  text-align: left;
}
@media (min-width: 768px) {
  .game {
    -webkit-flex-direction: row;
    -moz-flex-direction: row;
    -ms-flex-direction: row;
    flex-direction: row;
    -webkit-flex-wrap: wrap;
    -moz-flex-wrap: wrap;
    -ms-flex-wrap: wrap;
    flex-wrap: wrap;
  }
  .game md-toolbar {
    display: none;
  }
  .game .menu-lg-screen {
    display: block;
  }
  .game .player {
    -webkit-flex-direction: column;
    -moz-flex-direction: column;
    -ms-flex-direction: column;
    flex-direction: column;
    -webkit-align-items: center;
    -moz-align-items: center;
    -ms-align-items: center;
    align-items: center;
    overflow: hidden;
    position: relative;
    padding: 0;
  }
  .game .player > div {
    -webkit-justify-content: center;
    -moz-justify-content: center;
    -ms-justify-content: center;
    justify-content: center;
    width: 100%;
  }
  .game .player .name-container {
    -webkit-flex-grow: 0;
    -moz-flex-grow: 0;
    -ms-flex-grow: 0;
    flex-grow: 0;
  }
  .game .player .name-container .name {
    font-size: 60px;
  }
  .game .player .level-container {
    -webkit-order: -1;
    -moz-order: -1;
    -ms-order: -1;
    order: -1;
    -webkit-flex-grow: 1;
    -moz-flex-grow: 1;
    -ms-flex-grow: 1;
    flex-grow: 1;
  }
  .game .player .level-container .battle-level {
    width: 160px;
    height: 160px;
    font-size: 90px;
    border-width: 5px;
  }
  .game .player .level-container .level {
    width: 50px;
    height: 50px;
    font-size: 30px;
    right: 0;
    bottom: 0;
  }
  .game .player .level-container .level.female {
    right: auto;
    left: 0;
  }
  .game .player .gender {
    position: absolute;
    width: 130px;
    height: 100%;
    top: -50px;
    z-index: 1;
  }
  .game .player .gender.male {
    left: calc(50% - 155px);
  }
  .game .player .gender.female {
    right: calc(50% - 170px);
  }
  .game .player:nth-last-child(3):first-child,
  .game .player:nth-last-child(3):first-child ~ .player {
    width: calc(33.33333333%);
    height: 100%;
  }
  .game .player:nth-last-child(4):first-child,
  .game .player:nth-last-child(4):first-child ~ .player {
    width: 50%;
    height: 50%;
  }
  .game .player:nth-last-child(5):first-child,
  .game .player:nth-last-child(5):first-child ~ .player,
  .game .player:nth-last-child(6):first-child,
  .game .player:nth-last-child(6):first-child ~ .player {
    width: calc(33.33333333%);
    height: 50%;
  }
  .player .gender-selection img {
    height: 200px;
  }
  .player .battle-level {
    margin-top: 55px;
  }
}
