<div class="player flex column center center-items" ng-style="{ 'background-color': vm.player.color }">
    <md-button class="btn-back md-icon-button" aria-label="Back" ng-click="vm.goBack()">
        <md-icon md-svg-icon="images/icons/ic_arrow_back.svg"></md-icon>
    </md-button>

    <div class="player-name flex center center-items">{{vm.player.name}}</div>

    <div class="player-level flex center center-items">
        <div class="flex column center center-items level-control-container">
            <h2>Level</h2>
            <md-button class="btn-level" ng-click="vm.levelUp()">+</md-button>
            <h1>{{vm.player.level}}</h1>
            <md-button class="btn-level" ng-click="vm.levelDown()">-</md-button>
        </div>
        <div class="flex center center-items">
            <div class="battle-level">{{vm.player.level + vm.player.bonuses}}</div>
        </div>
        <div class="flex column center center-items level-control-container">
            <h2>Bonuses</h2>
            <md-button class="btn-level" ng-click="vm.bonusesUp()">+</md-button>
            <h1>{{vm.player.bonuses}}</h1>
            <md-button class="btn-level" ng-click="vm.bonusesDown()">-</md-button>
        </div>
    </div>

    <div class="gender-selection flex">
        <div class="flex center center-items">
            <img src="images/munchkinMale.png" ng-class="vm.player.gender === 'male' ? 'active' : ''" ng-click="vm.setGender('male')">
        </div>
        <div class="flex center center-items">
            <img src="images/munchkinFemale.png" ng-class="vm.player.gender === 'female' ? 'active' : ''"  ng-click="vm.setGender('female')">
        </div>
    </div>
</div>
