<md-dialog class="setup" aria-label="Player">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>New Player</h2>
            <span flex></span>
            <md-button class="md-icon-button" ng-click="vm.close()">
                <md-icon md-svg-src="../images/icons/ic_close_white_48px.svg" aria-label="Close dialog"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-dialog-content style="padding: 16px;">
        <form name="playerForm" novalidate>
            <md-input-container style="padding-bottom: 8px;">
                <label>Name</label>
                <input ng-model="vm.player.name" required>
            </md-input-container>
            <h3 style="margin-bottom: 0">Color:</h3>
            <div class="flex row">
                <div class="color-selector" ng-repeat="color in vm.colors" ng-class="{ 'active' : vm.player.color === color }" ng-style="{ 'background-color': color }" ng-click="vm.player.color = color"></div>
            </div>

            <h3 style="margin-bottom: 0">Gender:</h3>
            <div class="gender-selection flex center center-items">
                <div class="flex center center-items" flex="1">
                    <img src="images/munchkinMale.png" ng-class="vm.player.gender === 'male' ? 'active' : ''" ng-click="vm.player.gender = 'male'">
                </div>
                <div class="flex center center-items" flex="1">
                    <img src="images/munchkinFemale.png" ng-class="vm.player.gender === 'female' ? 'active' : ''"  ng-click="vm.player.gender = 'female'">
                </div>
            </div>

            <md-button class="md-raised" ng-click="vm.submit()" ng-if="!vm.edit">Add Player</md-button>
            <md-button class="md-raised" ng-click="vm.submit(true)" ng-if="vm.edit">Edit Player</md-button>
        </form>
    </md-dialog-content>
</md-dialog>
