<div class="setup flex column" style="height: 100%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Setup</h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Menu" ng-click="vm.showPlayerForm($event)">
                <md-icon md-svg-icon="images/icons/ic_add_white_48px.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content md-scroll-y>
        <div style="max-width: 500px; margin: auto;">
            <div ng-show="vm.showForm">
                <form name="playerForm" novalidate>
                    <md-input-container layout-margin layout-padding>
                        <label>Name</label>
                        <input ng-model="vm.newPlayerName" required>
                    </md-input-container>
                    <div layout-margin layout-padding>
                        <h3>Color:</h3>
                        <div class="flex row">
                            <div style="margin: 8px; width: 32px; height: 32px;" ng-repeat="color in vm.colors" ng-style="{ 'background-color': color, 'margin-left': $first ? '0' : '8px' }" ng-click="vm.newPlayerColor = color"></div>
                        </div>
                    </div>

                    <div layout-margin layout-padding>
                        <h3>Gender:</h3>
                        <div class="gender-selection flex">
                            <div class="flex center center-items">
                                <img src="images/munchkinMale.png" ng-class="vm.newPlayer.gender === 'male' ? 'active' : ''" ng-click="vm.newPlayer.gender = 'male'">
                            </div>
                            <div class="flex center center-items">
                                <img src="images/munchkinFemale.png" ng-class="vm.newPlayer.gender === 'female' ? 'active' : ''"  ng-click="vm.newPlayer.gender = 'female'">
                            </div>
                        </div>
                    </div>

                    <div layout-margin layout-padding>
                        <md-button class="md-primary" ng-click="vm.addPlayer()">Add Player</md-button>
                        <md-button ng-click="vm.showForm = false">Close</md-button>
                    </div>
                    <md-divider></md-divider>
                </form>
            </div>
            <!-- <form name="playerForm" novalidate ng-submit="playerForm.$valid && vm.addPlayer()">
                <input type="text" ng-model="vm.newPlayerName" placeholder="Player Name">
                <button>Add Player</button>
            </form> -->

            <div layout-margin layout-padding>
                <h2 style="margin: 0">Players</h2>
            </div>
            <div ng-repeat="player in vm.players">
                <div layout-margin layout-padding>
                    <div class="flex row center center-items">
                        <h3 flex="1">{{player.name}}</h3>
                        <div flex="1">
                            <div style="width: 32px; height: 32px;" ng-style="{ 'background-color': player.color }"></div>
                        </div>
                        <div class="flex center center-items" flex="1">
                            <img src="images/munchkinMale.png" height="75" ng-if="player.gender === 'male'">
                            <img src="images/munchkinFemale.png" height="75" ng-if="player.gender === 'female'">
                        </div>
                        <div class="flex end" flex="1">
                            <md-menu>
                                <md-button aria-label="Open phone interactions menu" class="md-icon-button" ng-click="$mdOpenMenu()">
                                    <md-icon md-svg-icon="images/icons/ic_more_vert_black_48px.svg"></md-icon>
                                </md-button>
                                <md-menu-content width="4">
                                    <md-menu-item>
                                        <md-button ng-click="vm.showPlayerForm($event, player)">
                                            <md-icon md-svg-icon="images/icons/ic_mode_edit_black_48px.svg" md-menu-align-target></md-icon>
                                            Edit Player
                                        </md-button>
                                    </md-menu-item>
                                    <md-menu-item>
                                        <md-button ng-click="vm.removePlayer($index)">
                                            <md-icon md-svg-icon="images/icons/ic_delete_black_48px.svg" md-menu-align-target></md-icon>
                                            Remove Player
                                        </md-button>
                                    </md-menu-item>
                                </md-menu-content>
                            </md-menu>
                        </div>
                    </div>
                </div>
                <md-divider></md-divider>
            </div>

            <md-button class="md-raised md-primary" ng-click="vm.playGame()">Play</md-button>
        </div>
    </md-content>
</div>
