<div class="flex column" style="height: 100%">
    <md-toolbar>
        <div class="md-toolbar-tools">
            <h2>Setup</h2>
            <span flex></span>
            <md-button class="md-icon-button" aria-label="Menu" ng-click="vm.showForm()">
                <md-icon md-svg-icon="../images/icons/ic_add_white_48px.svg"></md-icon>
            </md-button>
        </div>
    </md-toolbar>
    <md-content md-scroll-y>
        <div layout-margin layout-padding>
            <form name="playerForm" novalidate>
                <md-input-container>
                    <label>Name</label>
                    <input ng-model="vm.newPlayerName">
                </md-input-container>
                <div>
                    <h3>Color:</h3>
                    <label>
                        <input type="radio"> Red
                    </label>
                </div>
            </form>
        </div>
        <!-- <form name="playerForm" novalidate ng-submit="playerForm.$valid && vm.addPlayer()">
            <input type="text" ng-model="vm.newPlayerName" placeholder="Player Name">
            <button>Add Player</button>
        </form> -->

        <div ng-repeat="player in vm.players">
            {{player.name}} - <button ng-click="vm.removePlayer($index)">Remove Player</button>
            <div>
                <h3>Color</h3>
                <label>
                    <input type="radio" ng-model="player.color" value="#cc0000" ng-change="vm.updatePlayer($index)"> Red
                </label>
                <label>
                    <input type="radio" ng-model="player.color" value="green" ng-change="vm.updatePlayer($index)"> Green
                </label>
                <label>
                    <input type="radio" ng-model="player.color" value="purple" ng-change="vm.updatePlayer($index)"> Purple
                </label>
                <label>
                    <input type="radio" ng-model="player.color" value="orange" ng-change="vm.updatePlayer($index)"> Orange
                </label>
                <label>
                    <input type="radio" ng-model="player.color" value="#0854C7" ng-change="vm.updatePlayer($index)"> Blue
                </label>
                <label>
                    <input type="radio" ng-model="player.color" value="#ffcc00" ng-change="vm.updatePlayer($index)"> Yellow
                </label>
            </div>
            <div>
                <h3>Gender</h3>
                <label>
                    <input type="radio" ng-model="player.gender" value="male" ng-change="vm.updatePlayer($index)"> Male
                </label>
                <label>
                    <input type="radio" ng-model="player.gender" value="female" ng-change="vm.updatePlayer($index)"> Female
                </label>
            </div>
            <hr>
        </div>

        <div>
            Winning Level: <input type="number" ng-model="vm.game.winningLevel" ng-change="vm.game.$save()">
        </div>

        <button ng-click="vm.playGame()">Play</button>
    </md-content>
</div>
