<md-button class="md-icon-button" aria-label="Menu" ng-click="vm.openLeftMenu()" style="position: absolute; top: 6px; left: 0; z-index: 1;">
    <md-icon md-svg-icon="../images/icons/ic_menu_white_48px.svg"></md-icon>
</md-button>

<md-sidenav md-component-id="left" class="md-sidenav-left" style="background-color: black;">
    <md-button class="md-icon-button" aria-label="Home" ng-click="vm.goToHome()">
        <md-icon md-svg-icon="../images/icons/ic_home_white_48px.svg"></md-icon>
    </md-button>
    <md-button class="md-icon-button" aria-label="Settings" ng-click="vm.goToSettings()">
        <md-icon md-svg-icon="../images/icons/ic_settings_white_48px.svg"></md-icon>
    </md-button>
</md-sidenav>

<div class="game flex column">
    <div class="player flex"
        ng-repeat="(key, player) in vm.game.players"
        ng-style="{ 'background-color': player.color }"
        ng-click="vm.goToPlayer(key)">
        <div class="name-container flex center-items">
            <h1 class="name">{{player.name}}</h1>
        </div>
        <div class="gender flex center center-items" ng-class="(player.gender === 'male') ? 'male' : 'female'"></div>
        <div class="level-container flex center center-items">
            <div class="level">{{player.level}}</div>
        </div>
    </div>
</div>
