<md-sidenav md-component-id="left">
    <md-list>
        <md-list-item>
            <md-button class="md-button md-default-theme" ng-click="vm.goToHome()">
                <md-icon md-svg-icon="images/icons/ic_home_white_48px.svg"></md-icon>
                Home
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button class="md-button md-default-theme" ng-click="vm.goToSettings()">
                <md-icon md-svg-icon="images/icons/ic_settings_white_48px.svg"></md-icon>
                Setup
            </md-button>
        </md-list-item>
        <md-list-item>
            <md-button class="md-button md-default-theme" ng-click="vm.shareGame()">
                <md-icon md-svg-icon="images/icons/ic_share_black_48px.svg"></md-icon>
                Share
            </md-button>
        </md-list-item>
    </md-list>
</md-sidenav>


<div class="game flex column">
    <md-toolbar class="center">
        <md-button class="md-icon-button" aria-label="Menu" ng-click="vm.openLeftMenu()">
            <md-icon md-svg-icon="images/icons/ic_menu_white_48px.svg"></md-icon>
        </md-button>
    </md-toolbar>
    <md-button class="menu-lg-screen md-icon-button" aria-label="Menu" ng-click="vm.openLeftMenu()">
        <md-icon md-svg-icon="images/icons/ic_menu_white_48px.svg"></md-icon>
    </md-button>
    <md-content md-scroll-y class="game flex column" flex="1">
        <div class="player flex"
            ng-repeat="(key, player) in vm.game.players"
            ng-style="{ 'background-color': player.color }"
            ng-click="vm.goToPlayer(key)">
            <div class="name-container flex center-items">
                <h1 class="name">{{player.name}}</h1>
            </div>
            <div class="gender flex center center-items" ng-class="player.gender"></div>
            <div class="level-container flex center center-items">
                <div style="position: relative;">
                    <div class="battle-level">{{player.level + player.bonuses}}</div>
                    <div class="level" ng-class="player.gender" ng-style="{ 'color': player.color }">{{player.level}}</div>
                </div>
            </div>
        </div>
    </md-content>
</div>
