<!--{{vm.gameId}}-->

<div class="game flex column">
    <div class="player flex"
        ng-repeat="player in vm.players"
        ng-style="{ 'background-color': player.color }"
        ng-click="vm.goToPlayer($index)">
        <div class="flex center-items">
            <div class="name">{{player.name}}</div>
        </div>
        <div class="gender flex center center-items" ng-class="(player.gender === 'male') ? 'male' : 'female'"></div>
        <div class="flex center center-items">
            <div class="level">{{player.level}}</div>
        </div>
    </div>
</div>
